HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/vue/node_modules/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### Vue.js ###
# local env files
/vue/env.local
/vue/env.*.local

# Log files
/vue/npm-debug.log*
/vue/yarn-debug.log*
/vue/yarn-error.log*
/vue/pnpm-debug.log*
